<ion-header color="primary">
  <ion-toolbar color="primary">
    <ion-title mode='ios'>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-list>
    <!-- Team View -->
    <ion-card mode=ios>
      <img src="https://cdn.vox-cdn.com/thumbor/Ndb49Uk3hjiquS041NDD0tPDPAs=/0x169:1423x914/fit-in/1200x630/cdn.vox-cdn.com/uploads/chorus_asset/file/7342855/microsoftteams.0.jpg" alt="Complaint-Box">
      <ion-card-header>
        <ion-card-subtitle>All Teams</ion-card-subtitle>
        <ion-card-title>View Team</ion-card-title>
      </ion-card-header>
    </ion-card>

    <!-- Vacinated Area -->
    <ion-card mode=ios routerLink='/WorkerMap' routerDirection='forward'>
      <img src="https://www.nicepng.com/png/detail/126-1264616_maps-clipart-tourist-map-israel-at-the-center.png" alt="Complaint-Box">
      <ion-card-header>
        <ion-card-subtitle>View Vacinated Area</ion-card-subtitle>
        <ion-card-title>Polio Map</ion-card-title>
      </ion-card-header>
    </ion-card>
    <!-- Record -->
    <ion-card mode=ios>
      <img src="https://www.clipartkey.com/mpngs/m/325-3258097_download-multlored-buildings-decor-clipart-png-photo-building.png" alt="Complaint-Box">
      <ion-card-header>
        <ion-card-subtitle>Search & Update Record</ion-card-subtitle>
        <ion-card-title>HouseHold Record</ion-card-title>
      </ion-card-header>
    </ion-card>

        <!-- Qr Codes -->
        <ion-card mode=ios>
          <img src="https://www.seekpng.com/png/detail/26-265563_other-qr-code-ideas-scan-qr-code-png.png" alt="Valuntere">
          <ion-card-header>
            <ion-card-subtitle>Scan and Genrate Qr Codes</ion-card-subtitle>
            <ion-card-title>QR Code</ion-card-title>
          </ion-card-header>
        </ion-card>
  </ion-list>
</ion-content>