ion-content{
    .logo{
        margin: 10vh 40vw;
        img{
            height: -webkit-fill-available;
            width: -webkit-fill-available;
        }
    }

    .form{
        width: 80%;
        margin: auto;
        #div{
            background: white;
            border-radius: 20px;
            padding: 20px 0px 10px 0px;
            margin-top: 20px;
            box-shadow: 0.5px 3px 25px 0px var(--ion-color-tertiary);
            ion-label{
                font-size: x-large;
                font-weight: 600;
                margin: 5vw;
            }
            ion-item{
                font-size: larger;
                font-weight: 600;
                ion-icon{
                    margin-right: 15px;
                }
                ion-input{
                    --border-radius: 20px;
                }
            }
        }

        ion-button{
            height: 50px;
            text-transform: none;
            width: 100%;
            font-size: x-large;
            font-weight: 600;
            margin: auto;
            margin-top: 3vh !important;
            --border-radius: 20px;
        }

        .extras{
            margin-top: 3% !important;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-weight: 900;
            color: #00000066;

            ion-text{
                padding: 15px;
            }
        }
        
    }
    .backButton{
        position: absolute;
        ion-button{
            margin: 3vh 1vw;

            ion-icon{
                height: 40px;
                width: 40px;
            }
        }
    }
}