ion-content{
    .background{
        height: -webkit-fill-available;
        z-index: -1;
        position: absolute;
        img{
            height: 85vh;
        }
    }
    .overlay{
        height: 100vh;
        width: 100vw;
        position: absolute;
        z-index: -1;
        background: #cacac733;
    }
    .buttons{
        width: 90%;
        margin: auto;
        margin-top: 85vh !important;
        ion-button{
            width: 45%;
            height: 50px;
            text-transform: none;
            font-size: larger;
            font-weight: 600;
            box-shadow: 0.5px 0.5px 20px -3px grey;
        }
    }
}